$header1: 4rem;
$header2: 3.5rem;
$header3: 2.5rem;
$header4: 2rem;
$header5: 1.5rem;
$header6: 1rem;

$primary_pale_blue: hsl(223, 100%, 88%);
$primary_light_red: hsl(354, 100%, 66%);

$neutral_gray: hsl(0, 0%, 59%);
$neutral_very_dark_blue: hsl(209, 33%, 12%);
$neutral_white: hsl(0, 0%, 100%);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Libre Franklin", sans-serif;
}
